---
import CustomerTestimonials from "../components/sections/testimonials/CustomerTestimonials.astro";
import EnvironmentalImpact from "../components/sections/environment/EnvironmentalImpact.astro";
import FeaturedProjects from "../components/sections/featured/FeaturedProjects.astro";
import GetInvolved from "../components/sections/cta/GetInvolved.astro";
import Hero from "../components/sections/hero/Hero.astro";
import KeyServices from "../components/sections/services/KeyServices.astro";
import LatestInnovations from "../components/sections/innovations/LatestInnovations.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bem-vindo ao modelo da COMPANY Energy">
  <main class="flex flex-col gap-y-20 md:gap-y-40 overflow-hidden">

    <Hero />
    <!-- Secção principal: -->
    <!-- Imagem ou animação de alta qualidade de fontes de energia renováveis. -->
    <!-- Título e subtítulo centrados na página. -->

    <KeyServices />
    <!-- Visão geral dos principais serviços: -->
    <!-- Forneça uma breve visão geral dos seus principais serviços de energia verde. -->
    <!-- Utilize recursos visuais apelativos e texto conciso para destacar os benefícios. -->
    <!-- Inclua um botão de chamada para ação que conduza a informações detalhadas sobre o serviço. -->

    <LatestInnovations />
    <!-- Últimas Inovações: -->
    <!-- Destaque quaisquer avanços ou inovações recentes nas suas soluções de energia verde. -->
    <!-- Utilize imagens e descrições concisas para demonstrar o seu compromisso com a tecnologia de ponta. -->
    <!-- Dê ênfase como permanecer com a sua empresa significa manter-se na vanguarda da energia verde. -->

    <CustomerTestimonials />
    <!-- Testemunhos de Clientes: -->
    <!-- Partilhe testemunhos de clientes satisfeitos. -->
    <!-- Inclua fotos, nomes e breves citações para gerar confiança. -->
    <!-- Adicione uma chamada para ação para incentivar os utilizadores a explorar mais histórias de clientes. -->

    <EnvironmentalImpact />
    <!-- Impacto Ambiental: -->
    <!-- Mostre o impacto positivo que os utilizadores podem gerar ao escolher os seus serviços. -->
    <!-- Utilize estatísticas, infografias ou recursos visuais para ilustrar os benefícios ambientais. -->
    <!-- Realce o papel que a sua empresa desempenha na promoção da sustentabilidade. -->

    <FeaturedProjects />
    <!-- Projetos em destaque ou estudos de caso: -->
    <!-- Apresente projetos de energia verde bem-sucedidos que a sua empresa tenha realizado. -->
    <!-- Forneça detalhes sobre o impacto e o sucesso destes projetos. -->
    <!-- Incentive os utilizadores a explorar mais sobre as conquistas da sua empresa. -->

    <GetInvolved />
    <!-- Secção Envolva-se: -->
    <!-- Convide os utilizadores a participar ativamente ou a aprender mais sobre sustentabilidade. -->
    <!-- Forneça informações sobre iniciativas, eventos ou parcerias comunitárias. -->
    <!-- Inclua uma chamada à ação para que os utilizadores se juntem à sua comunidade ou se inscrevam para receber atualizações. -->

  </main>
</Layout>
